

/* ------------- RYAN STYLESHEET1 -------*/
body {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  line-height: 5rem;
}
.page-header h1 {
  font-size: 8rem;
}

p {
  margin: 0;
  margin: 2rem 0 2rem 0;
  margin: 2rem 0;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive !important;
}

.top {
  -webkit-perspective: 500px;
}

.animating {

 -webkit-animation-name: anime;
 -webkit-animation-duration: 4s;
 -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-transform-style: preserve-3d;
}

.animating90 {

 -webkit-animation-name: rotate90;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-fill-mode: both;
 -webkit-animation-direction: forwards;
  -webkit-transform-style: preserve-3d;
}


@-webkit-keyframes anime {

  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotate90 {

  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
  }
}


/*

1) Create @keyframe anime
2) apply to kat

*/
